KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=notifications-client
KAFKA_SASL_MECHANISM=plain
KAFKA_SASL_USERNAME=admin
KAFKA_SASL_PASSWORD=admin-secret
KAFKA_GROUP_ID=notifications-service
APP_SID=******
SENDER_ID=****
DB_CONNECTION_STRING=*******