KAFKA_TOPIC=prescriptions
KAFKA_BOOTSTRAP_SERVER=kafka:9092
KAFKA_ADMIN_USER=admin
KAFKA_ADMIN_PASSWORD=admin-secret
POSTGRES_URL=jdbc:postgresql://dev-escribe.postgres.database.azure.com:5432/prescriptions
POSTGRES_USERNAME=*****
POSTGRES_PASSWORD=*****

SPRING_PROFILES_ACTIVE=dev
CORS_ALLOWED_HOSTS=http://localhost:3000
