KEYCLOAK_GENERATE_OTP_URL=http://keycloak:8080/realms/nexthealth-sms-otp/nexthealth-sms-otp/otp
KEYCLOAK_VALIDATE_OTP_URL=http://keycloak:8080/realms/nexthealth-sms-otp/protocol/openid-connect/token
KAFKA_GENERATE_OTP_TOPIC=authentication
KAFKA_BOOTSTRAP_SERVER=kafka:9092
KAFKA_ON=ON
KAFKA_ADMIN_USER=admin
KAFKA_ADMIN_PASSWORD=admin-secret
KEYCLOAK_SERVER_URL=http://keycloak:8080/admin
KEYCLOAK_REALM=nexthealth
KEYCLOAK_RESOURCE=nexthealth
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_CLIENT_ID=sms-otp-auth-client
KEYCLOAK_CLIENT_SECRET=***********
SPRING_PROFILES_ACTIVE=dev
CORS_ALLOWED_HOSTS=http://localhost:3000
